$red-text: #D2161C;

$break-point: 1440px 1367px 1009px 767px;

%fill-width {
    width: 100vw;
    transform: translateX(calc(((100vw - 1170px) / 2) * -1));
    @media (max-width: nth($break-point, 2)) {
        transform: none;
    }
}

%absolute-initial {
    position: absolute;
    top: 0;
    left: 0;
}

%center-absolute {
    left: 50%;
    transform: translateX(-50%);
}

%showMobile {
    display: none;
    @media (max-width: nth($break-point, 3)) {
        display: block;
    }
}

$body-width: 1170px;

@mixin star($size, $top) {
    content: "";
    position: absolute;
    background-image: url("img/star.svg");
    background-size: $size $size;
    width: $size;
    height: $size;
    top: $top;
}

@mixin star-bg($size, $top){
    &::before {
        @include star($size, $top);
        transform: translateX(-3rem);
    }
    &::after {
        @include star($size, $top);
        transform: translateX(2rem);
    }
}