@import "lib.scss";

.produtos {
    &-h1 {
        @include star-bg(1.3rem, 0);
    }
    &-txt {
        text-align: center;
        font-size: .9rem;
    }
    &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
        align-items: baseline;
        @media (max-width: nth($break-point, 3)) { 
            flex-direction: column;
        }
        &-item {
            width: 33%;
            @media (max-width: nth($break-point, 3)) { 
                width: 100%;
            }
            margin: 2rem auto;
            &-link {
                display: block;
                text-decoration: none;
                color: inherit;
            }
            &-container {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
            }
            &-img {
                max-height: 15rem;
            }
            &-caption {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    &-breadcrumb {
        margin: 2rem auto;
        text-align: center;
        color: #777;
        text-transform: uppercase;
        font-weight: lighter;
    }
    &-individual {
        display: flex;
        justify-content: center;
        @media (max-width: nth($break-point, 3)) {
            flex-direction: column;
        }
        &-img {
            text-align: center;
            margin-right: 1rem;
            position: relative;
            @media (max-width: nth($break-point, 3)) { 
                margin-right: 0;
            }
            &-prod {
                height: 25rem;
                display: block;
                margin: 0 auto;
            }
            &-info {
                width: 300px;
            }
            &-txt {
                font-weight: bold;
                color: #FFFF0F;
                position: relative;
                bottom: 15%;
                @media (max-width: nth($break-point, 3)) {
                    position: absolute; 
                    bottom: 40px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &-info {
            &-container {
                width: 600px;
                @media (max-width: nth($break-point, 4)) {
                    width: 100%;
                }
            }
            &-nome {
                color: #FFF;
                background-color: #930708;
                text-align: center;
                text-transform: uppercase;
                padding: 1rem 0;
            }
            &-txt {
                color: #FFF;
                background-color: #C21217;
                padding: .5rem 1rem;
            }
            &-table {
                background-color: #F0F0F0;
                padding: .5rem 1rem;
                font-size: .8rem;
                caption {
                    background-color: #F0F0F0;
                }
                th {
                    text-align: left;
                }
                td {
                    width: 33%;
                }
            }
        }   
        &-ingrediente {
            background-color: #DBDBDB;
            text-align: center;
            padding: 1rem;
            &-title {
                text-transform: uppercase;
            }
            &-txt {
                font-size: .9rem;
            }
        }
        &-modo {
            color: #868686;
            margin: 1rem 0;
            i {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
.img_produtos{
    img{
        height: 20rem;
    }
}