
$body-width: 1170px;

@font-face {
    font-family: "Lora-Regular";
    src: url("../fonts/Lora-Regular.ttf"); 
}

* {
    margin: 0;
    padding: 0;
}

.containerfigure{
    width: 50px;
    &-imgcafe{
        
    }
}
.containerfigure2{
    &-imgcafe{
        
    }
}