@import "lib.scss";

.produtos {
    &-h1 {
        @include star-bg(1.3rem, 0);
    }
    &-txt {
        margin-top: 3rem;
        text-align: center;
        font-size: .9rem;
    }
    &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
        &-item {
            width: 33%;
            margin: 1rem auto;
            &:last-child {
                align-self: flex-end;
            }
            &-container {
                width: 100%;
                text-align: center;
            }
            &-img {
                height: 15rem;
            }
            &-caption {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    &-breadcrumb {
        margin: 2rem auto;
        text-align: center;
        color: #777;
        text-transform: uppercase;
        font-weight: lighter;
    }
    &-individual {
        display: flex;
        justify-content: center;
        &-img {
            text-align: center;
            &-prod {
                height: 25rem;
            }
            &-info {
                width: 70%;
            }
            &-txt {
                font-weight: bold;
                color: #FFFF0F;
                position: relative;
                bottom: 14%;
            }
        }
        &-info {
            &-container {
                width: 600px;
            }
            &-nome {
                color: #FFF;
                background-color: #930708;
                text-align: center;
                text-transform: uppercase;
                padding: 1rem 0;
            }
            &-txt {
                color: #FFF;
                background-color: #C21217;
                padding: .5rem 1rem;
            }
            &-table {
                background-color: #F0F0F0;
                padding: .5rem 1rem;
                font-size: .8rem;
                caption {
                    background-color: #F0F0F0;
                }
                th {
                    text-align: left;
                }
                td {
                    width: 33%;
                }
            }
        }   
        &-ingrediente {
            background-color: #DBDBDB;
            text-align: center;
            padding: 1rem;
            &-title {
                text-transform: uppercase;
            }
            &-txt {
                font-size: .9rem;
            }
        }
        &-modo {
            color: #868686;
            margin: 1rem 0;
            i {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}