@import "lib.scss";

.receitas {
    margin-bottom: 2rem;
    &-imgHeader {
        position: absolute;
        top: 230px;
        height: 12rem;
        @extend %center-absolute;
        @media (max-width: 1440px) {
            top: 170px;
            height: 10rem;
        }
    }
    &-cards {
        flex-wrap: wrap;
    }
    &-paginator {
        list-style: none;
        display: flex;
        justify-content: center;
        &-item {
            color: $red-text;
            font-weight: bold;
            margin-right: .5rem;
            padding-bottom: .2rem;
            cursor: pointer;
            &.active {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-individual {
        &-foto {
            margin-top: 5rem;
            img {
                width: 100%;
            }
        }
        &-sobre {
            margin-top: 3rem;
            &-title {
                text-align: center;
                text-transform: uppercase;
                color: #D31E16;
                font-weight: 500;
                font-size: 1.4rem;
            }
            &-container {
                margin: 1rem auto;
                font-weight: 500;
                display: flex;
                &-info {
                    width: 49%;
                    &-ingredientes {
                        margin-right: 2rem;
                    }
                    &-title {
                        text-transform: uppercase;
                        font-size: 1.1rem;
                    }
                    &-txt {
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}