@import "lib.scss";

.receitas {
    margin-bottom: 2rem;
    &-imgHeader {
        position: absolute;
        top: 230px;
        height: 12rem;
        @extend %center-absolute;
    }
    &-cards {
        flex-wrap: wrap;
    }
    &-paginator {
        list-style: none;
        display: flex;
        justify-content: center;
        &-item {
            color: $red-text;
            font-weight: bold;
            margin-right: .5rem;
            padding-bottom: .2rem;
            cursor: pointer;
            &.active {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}