@import "lib.scss";
@import "./contato.scss";
@import "./empresa.scss";
@import "./listaprodutos.scss";
@import "./produtos.scss";
@import "./receitas.scss";

@font-face {
    font-family: "Lora-Regular";
    src: url("fonts/Lora-Regular.ttf"); 
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Lora-Regular", serif;
    max-width: $body-width;
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
    background-color: #FFF;
}

h1 {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    @media (max-width: nth($break-point, 1)) {
        top: 170px;
    }
}

.link-container {
    display: block;
    text-decoration: none;
}

.container {
    max-width: $body-width; 
    margin: 0 auto;
    @media (max-width: $body-width) {
        width: 100%;
    }
}

.slide {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    &-button {
        position: absolute;
        background-color: transparent;
        border: none;
        width: 5%;
        cursor: pointer;
        top: 0;
        height: 100%;
        img {
            height: 2rem;
        }
        &:first-child {
            left: -10%;
            @media (max-width: nth($break-point, 2)) {
                left: 0;
            }
        }
        &:last-child {
            right: -10%; 
            @media (max-width: nth($break-point, 2)) {
                right: 0;
            }
        }
    }
    &-list {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

.header {
    position: relative;
    @extend %fill-width;
    &-menu {
        @extend %absolute-initial;
        width: 100%;
        z-index: 99;
        padding: 1rem 0;
        background-color: rgba(255,255,255,.7);
        @media (max-width: nth($break-point, 1)) {
            padding: 0;    
        }
        @media (max-width: nth($break-point, 3)) {
            display: flex;
        }
        &.home {
            background-color: rgba(255,255,255,.5);
        }
        &-logo {
            display: none;
            @media (max-width: nth($break-point, 3)) {
                display: block;
                position: relative;
                top: .2rem;
                left: 1rem;
                img {
                    height: 5rem;
                }
            }
        }
        &-mobile {
            height: 2rem;
            display: none;
            @media (max-width: nth($break-point, 3)) {
                display: block;
                align-self: center;
                position: absolute;
                right: 1rem;
            }
        }
        &-list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all .4s ease-out;
            @media (max-width: nth($break-point, 3)) {
                z-index: 99;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: absolute;
                width: 50vw;
                overflow: hidden;
                background-color: #1b1b1b;
                height: 100vh;
                top: 0;
                right: 0;
                transform: translateX(101%);
            }
            @media (max-width: nth($break-point, 4)) {
                width: 100vw;
            }
            &.visible {
                transform: translateX(0%);
            }
            &-item {
                //width: 10rem;
                font-weight: bold;
                margin-right: 2rem;
                text-transform: uppercase;
                text-align: center;
                @media (max-width: nth($break-point, 3)) {
                    padding: .5rem 1rem;
                    border-top: 1px solid rgba(255,255,255,.1);
                    width: 100%;
                    text-align: left;
                    font-weight: lighter;
                    //border-bottom: thin solid #EEE;
                    &::last-child {
                        border-bottom: 1px solid rgba(255,255,255,.1);
                    }
                }
                &.back {
                    @extend %showMobile;
                    @media (max-width: nth($break-point, 3)) {
                        display: flex;
                        width: 100%;
                        padding: 0;
                        height: 2.5rem;
                        button {
                            width: 3rem;
                            background-color: transparent;
                            border: none;
                            text-align: center;
                            border-right: thin solid rgba(255,255,255,.1);
                            img {
                                height: 1rem;
                                opacity: .5;
                            }
                        }
                        p {
                            flex: 1;
                            color: rgba(255,255,255,.5);
                            text-align: center;
                            align-self: center;
                        }
                    }
                }
                &.home {
                    @extend %showMobile;
                }
                &.logo {
                    img {
                        height: 8rem;
                    }
                    @media (max-width: nth($break-point, 3)) {
                        display: none;
                    }
                }
                a {
                    color: #222;
                    text-decoration: none; 
                    @media (max-width: nth($break-point, 3)) {
                        color: rgba(255,255,255,.6);
                    }   
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
    &-slide {
        position: absolute;
        z-index: 2;
        top: 200px;
        width: 1170px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: nth($break-point, 3)) {
            width: 100%;
            top: 150px;
            transform: translateX(0);
            left: 0;
        }
        &-list {
            position: relative;
            top: 3rem;
            overflow: hidden;
            @media (max-width: nth($break-point, 1)) {
                top: -5rem;
            }
            @media (max-width: nth($break-point, 3)) {
                top: 1rem;
            }
            &-item {
                transition: all .5s ease-in;  
                &-content {
                    position: relative;
                }
                &-link {
                    display: block;
                    text-decoration: none;
                }
            }
        } 
    }
    &-banner {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        @media (max-width: nth($break-point, 1)) {
            height: 400px;
            &.banner-home {
                height: 380px;
            }
        }
        @media (max-width: nth($break-point, 3)) { 
            height: 20rem;
        }
        &-leaves {
            height: 25rem;
            @media (max-width: nth($break-point, 3)) {
                display: none;
            }
        } 
        img {
            width: 100%;
            @extend %absolute-initial;
            @media (max-width: nth($break-point, 3)) {
                width: auto;
                height: 20rem;
                transform: translateX(0);
            }
            @media (max-width: nth($break-point, 4)) {
                transform: translateX(-25%);
            }
            &::nth-child(2) {
                z-index: 1;
            }
        }
    }
    &-bottom {
        position: relative;
        img {
            width: 100%;
        }
    }
}

.main-slide {
    display: flex;
    justify-content: center;
    width: 1170px;
    @media (max-width: nth($break-point,1)) {
        width: 100vw;
    }
    &-img {
        height: 320px;
        @media (max-width: nth($break-point,1)) {
            height: 280px;
        }
        @media (max-width: nth($break-point,3)) {
            display: none;
        }
    }
    &-frases {
        text-align: center;
        color: #FFF;
        height: 10rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: .3rem;
        position: relative;
        top: 6.5rem;
        @media (max-width: nth($break-point,3)) {
            top: 0;
        }
        &-1 {
            display: block;
            width: 550px; 
            padding-top: 25px;
            background-color: rgba(0,0,0,.6);
            font-size: 1.8rem;
            height: 115px;
            box-sizing: border-box;
            position: relative;
            line-height: 40px;
            &::before {
                content: "";
                position: absolute;
                top: -3rem;
                left: -3rem;
                background: url("img/inttensidade.png") no-repeat;
                background-size: 8rem 6rem;
                width: 8rem;
                height: 6rem;
            }
            @media (max-width: nth($break-point,3)) {
                width: 80vw;
                font-size: 1.1rem;
                line-height: 25px;
                height: auto;
                padding: .5rem 0;
                margin: 0 auto;
                &::before {
                    background-size: 5rem 4rem;
                    width: 5rem;
                    height: 4rem;
                    left: calc(50% - 2.5rem);
                    top: -4rem;
                }
            }
        }
        &-2 {
            display: block;
            background-color: #D3161B;
            padding: .7rem 0;
            width: 550px;
            font-size: .8rem;
            @media (max-width: nth($break-point,3)) {
                width: 80vw;
                margin: 0 auto;
            }
        }
    }
}

.historia {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3rem 0;
    @media (max-width: nth($break-point, 3)) {
        display: block;
    }
    &-msg {
        width: 60%;
        margin-right: 2rem;
        @media (max-width: nth($break-point, 3)) {
            width: 100%;
        }
        &-tit1 {
            color: #A5A5A5;
            text-transform: uppercase;
            font-size: .9rem;
        }
        &-tit2 {
            text-transform: uppercase;
            font-size: 1.8rem;
            margin: .5rem 0;
            color: #B51924;
        }
        &-txt {
            //font-size: .8rem;
        }
        &-button {
            color: #FFF;
            background-color: #C69C6D;
            border: none;
            width: 10rem;
            text-transform: uppercase;
            font-size: .8rem;
            margin-top: 1rem;
            text-align: center;
            font-family: "Lora-Regular", serif;
            display: block;
            text-decoration: none;
            @media (max-width: nth($break-point, 3)) {
                width: 100%;
                top: 18rem;
                position: relative;
            }
        }
    }
    &-group {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: nth($break-point, 3)) {
            width: 100%;
        }    
        &-img {
            height: 20rem;
            position: relative;
            @media (max-width: nth($break-point, 3)) {
                height: 18rem;
                position: relative;
                bottom: 2rem;
            }
            &-1 {
                left: .5rem;
            }
            &-2 {
                top: 1rem;
                z-index: 1;
            }
            &-3 {
                right: 1rem;
            }
        }
    }
}

.produtos {
    background-image: url("img/fundo_produtos.png");
    @extend %fill-width;
    height: 45rem;
    padding: 12rem 0 8rem 0;
    &-title {
        text-align: center;
        margin-bottom: 3rem;
        color: #FFF;
        text-transform: uppercase;
        position: relative;
        @include star-bg(1rem, .2rem);
    }
    &-slide {
        &-button {
            
        }
        &-list {
            &-item {
                width: 24%;
                margin-left: 1rem;
                &:first-child {
                    margin-left: 0;
                }
                @media (max-width: nth($break-point, 3)) {
                    width: 50%;
                    flex: 0 0 auto;                
                }
                &-container {
                    height: 30rem;
                    background-color: rgba(255,255,255,.5);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    &-img {
                        width: 8rem;
                    }
                    &-caption {
                        position: absolute;
                        width: 100%;
                        height: 2rem;
                        padding-top: 1rem; 
                        bottom: 0;
                        left: 0;
                        text-align: center;
                        background-color: rgba(255,255,255,.5);
                        font-weight: bold;
                        font-size: .8rem;
                        color: #111;
                    }
                }
            }
        }
    }
}
.receitas{
    margin-top: 5rem;
    &-titulo{
        display: none;
    }
    &-imgtitle {
        height: 10rem;
        display: block;
        margin: .5rem auto;
    }
    &-txt{
        text-align: center;
        font-size: 1rem;
        width: 60%;
        margin: 2rem auto .5rem auto;
        //font-size: .9rem;
    }
    &-cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: nth($break-point, 3)) {
            flex-direction: column;
        }
    }
}
.cards{
    position: relative;
    display: flex;
    width: 33%;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: nth($break-point, 3)) {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    &-conteudo{
        display: block;
        text-decoration: none;
        &-text{
            width: 220px;
            position: relative;
            bottom: 1.5rem;
            height: 11rem;
            padding: 1rem;
            margin: 0 auto;
            background-color: white;
            box-shadow: -1px 0px 13px 0px rgba(163,163,163,0.95);
            &-title{
                font-size:1.1rem;
                color:#c21117;
                margin-top: .5rem;
            }
            &-description{
                font-size: .9rem;
                color:black;
                margin-top: .5rem;
            }
        }
        &-pratos{
            height: 200px;
            width: 300px;
            position: relative;
            &-comidas{
                position: absolute;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);
            }
        }  
        &-icons{
            &-social{
                height: .8rem;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
        }
    }
}

%top-title {
    position: relative;
    top: 2rem;
}

.footer {
    @extend %fill-width;
    background-color: #C21117;
    color: #FFF;
    &-main {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;
        @media (max-width: nth($break-point, 3)) {
            flex-direction: column;
        }
    }
    &-title {
        margin-bottom: .5rem;
        color: #CC9554;
        text-transform: uppercase;
    }
    &-logo {
        img {
            height: 10rem;
        }
    }
    &-address {
        margin-left: 1.5rem;
        font-style: normal;
        @extend %top-title;
        @media (max-width: nth($break-point, 3)) {
            margin-left: 0;
        }
    }
    &-menu {
        margin-left: 3rem;
        list-style: none;
        @extend %top-title;
        @media (max-width: nth($break-point, 3)) {
            margin-top: 1rem;
            margin-left: 0;
        }
        &-item {
            a{
                color: #FFF;
                text-decoration: none;
            }
        }
    }
    &-social {
        margin-left: 3rem;
        @extend %top-title;
        @media (max-width: nth($break-point, 3)) {
            margin-top: 1rem;
            margin-left: 0;
        }
        img {
            height: 1.5rem;
        }
        &-imgFace {
            background-color: #FFF;
            border-radius: 5px;
        }
    }
    &-copy {
        text-align: center;
        background-color: #930708;
        padding: .5rem 0;
        font-size: .8rem;
    }
}

@media (max-width: 1170px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
}